{% extends"base.html.twig" %}

{% block title %}
{{ post.title }}
{% endblock %}

{# content #}
{% block body %}
<div class="card m-auto mt-6 text-center p-8 flex-shrink-0 w-full max-w-sm bg-zinc-500 shadow-inner-xl">
<h1 class="text-indigo-700 text-3xl uppercase font-bold pb-4">{{ post.title }}</h1>
<div class="">
    <img src="{{ post.urlImg }}" alt="{{ post.title}}" />
    </div>
<div class="mt-4 m-auto w-full max-w-sm  text-indigo-700">
<p>{{ post.content}}</p>
</div>
<div class="my-2 space-x-8">
<a href="" class="btn btn-primary">Modifier</a>
<a href="{{ path ('app_delete', {'id': post.id}) }}" class="btn btn-error">Supprimer</a>
</div>
</div>
{% endblock %}